<template name="hybridizers">
  <ul class="list-group">
    <li class="list-group-item list-garden-item"> 
      <div class="media"> 
        <div class="media-body"> 
          <div>
            <span>Hybridizer Name:</span>
          </div>   
        </div>
      </div>
    </li>
  </ul>
  <ul class="list-group">
    
    {{#each hybridizers}}
     <li class="list-group-item" data-toggle="class:active" data-target="#todo-2"> 
      <div class="media">
        <div class="media-body">
          <div class="pull-right text-primary m-t-small"> 
            <small>{{firstName}} </small>
            <small>{{lastName}}</small>
            <span class="mod-actions">
              <small><a href="{{pathFor 'updateHybridizerForm'}}"><i class="ext-right fa fa-lg fa-pencil"></i></a></small>
              <small><a href="#"><i class="ext-right delete fa fa-lg fa-times-circle"></i></a></small>
            </span>
          </div>
        </div>
      </div>
     </li>
    {{/each}}
  </ul>
  {{> insertHybridizerForm}}
</template>
