<!-- iris-test-page.html -->
<template name="irisList">
  <section class="panel irispanel"> 
    <header class="panel-heading bg bg-primary"> 
      <a class="btn btn-link pull-right nav"><i class="fa fa-search fa fa-light fa-lg"></i></a> Irises - All
      <span class="pull-right search-text">
        {{> searchBox}}
      </span>
    </header>

    <ul class="list-group">
      <li class="list-group-item list-garden-item"> 
        <div class="media">

          <span class="pull-left thumb-small m-t-mini"> 
            <small>category</small><br>
          </span>

          <div class="pull-right text-primary m-t-small"> 
            <small><i class="garden-number text-active text-primary"></i>1</small>
            <small><i class="garden-number text-active text-primary"></i>2</small>
            <small><i class="garden-number text-active text-primary"></i>3</small>
            <small><i class="garden-number text-active text-primary"></i>4</small>
            <small><i class="garden-number text-active text-primary"></i>5</small>
            <small><i class="garden-number text-active text-primary"></i>6</small>
            <!-- <small><i class="text-active text-primary"></i>edit</small> -->
          </div>

          <div class="media-body"> 
            <div>
              <a href="#" class="">name1</a>
            </div>   
          </div>  
        </div> 
      </li>
    </ul>

<!--     <div class="row">
      <div>
        <div class="pull-right garden-margin">
          <span class="garden-text">1 2 3 4 5 6 </span>
          <span class="garden-text">2</span>
          <span class="garden-text">3</span>
          <span class="garden-text">4</span>
          <span class="garden-text">5</span>
          <span class="garden-text">6</span>      
        </div>
      </div>
    </div> -->
    <ul class="list-group">
      {{#ifEsInputIsEmpty index="irises"}}
        {{#each irises}}
          {{> irisItem}}
        {{/each}}
      {{/ifEsInputIsEmpty}}

      {{#esEach index="irises"}}
        {{> irisItem}}
        <!-- {{showSearch}} -->
      {{/esEach}}

      {{#ifEsHasNoResults index="irises"}}
        {{> irisNotFound}}
      {{/ifEsHasNoResults}}
      
    </ul> 
  </section>
</template>