<template name="irisTestItem">

    <li class="list-group-item" data-toggle="class:active" data-target="#todo-2"> 
      <div class="media">

        <span class="pull-left thumb-small m-t-mini"> 
          <small>{{category}}</small><br>
          {{#if region13}}
            <small><i class="fa fa-star-o fa-sm text-active text-primary"></i></small>
          {{/if}}
        </span>

        <div class="pull-right text-primary m-t-small"> 
          {{#if garden1}}
            <small><i class="fa fa-circle fa-lg text-active text-primary"></i></small>
          {{else}}
            <small><i class="fa fa-circle-thin fa-lg text-active text-primary"></i></small>
          {{/if}}
          {{#if garden2}}
            <small><i class="fa fa-circle fa-lg text-active text-primary"></i></small>
          {{else}}
            <small><i class="fa fa-circle-thin fa-lg text-active text-primary"></i></small>
          {{/if}}
          {{#if garden3}}
            <small><i class="fa fa-circle fa-lg text-active text-primary"></i></small>
          {{else}}
            <small><i class="fa fa-circle-thin fa-lg text-active text-primary"></i></small>
          {{/if}}
          {{#if garden4}}
            <small><i class="fa fa-circle fa-lg text-active text-primary"></i></small>
          {{else}}
            <small><i class="fa fa-circle-thin fa-lg text-active text-primary"></i></small>
          {{/if}}
          {{#if garden5}}
            <small><i class="fa fa-circle fa-lg text-active text-primary"></i></small>
          {{else}}
            <small><i class="fa fa-circle-thin fa-lg text-active text-primary"></i></small>
          {{/if}}
          {{#if garden6}}
            <small><i class="fa fa-circle fa-lg text-active text-primary"></i></small>
          {{else}}
            <small><i class="fa fa-circle-thin fa-lg text-active text-primary"></i></small>
          {{/if}}
            <span class="mod-actions">
              <small><a href="{{pathFor 'updateIrisForm'}}"><i class="ext-right fa fa-lg fa-pencil"></i></a></small>
              <small><a href="#"><i class="ext-right delete fa fa-lg fa-times-circle"></i></a></small>
            </span>
        </div> 

        <div class="media-body"> 
          <div>
            <a href="{{pathFor 'irisPage'}}" class="h5">{{name}}</a>
          </div>   
          <small class="text-muted">{{hybridizerlast}} - {{year}}</small>
        </div> 
      </div> 
    </li> 

</template>